#cart_{
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 9px 16px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.15s;
}

#cart_:hover{
    background-color: rgb(255, 196, 0)
}

#cart_:active{
    opacity: 0.8;
}

#buy_{
    background-color: rgb(255, 164, 28);
    border: none;
    padding: 9px 16px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.15s;
}

#buy_:hover{
    background-color: rgb(253, 152, 0);
}

#buy_:active{
    opacity: 0.8;
}

#stock_{
    color: rgb(11, 138, 11);
}

a{
    color: rgb(1, 161, 253);
}

a:hover{
    color:blue
}