#uber_{
  background-color: black;
  border: none;
  color: white;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

#uber_:hover{
  opacity: 0.8;
}

#amazon_{
  background-color: rgb(255, 216, 20);
  border: none;
  height: 36px;
  width: 150px;
  border-radius: 18px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.15s;
}

#amazon_:hover{
  background-color: rgb(255, 196, 0)
}

#github_{
  background-color: rgb(46, 164, 79);
  border: none;
  height: 36px;
  width: 100px;
  border-radius: 6px; /* to get rounded corners set the value half of the button heights */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

#github_:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#started_{
  background-color: rgb(121, 82, 179);
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 3px; /* to get rounded corners set the value half of the button heights */
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s; /* good transition sec for button is 0.15s */
}

#started_:hover{
  background-color: rgb(100, 68, 148)
}

#download_{
  background-color: white;
  border-width: 1px;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  height: 36px;
  width: 110px;
  border-radius: 3px; /* to get rounded corners set the value half of the button heights */
  color: rgb(108, 117, 125);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

#download_:hover{
  background-color: rgb(108, 117, 125);
  color: white;
}

#apply_{
  background-color: rgb(10, 102, 194);
  border: none;
  height: 36px;
  width: 210px;
  border-radius: 18px; /* to get rounded corners set the value half of the button heights */
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

#apply_:hover{
  background-color: rgb(8, 87, 167)
}

#save_{
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  height: 36px;
  width: 70px;
  border-radius: 18px; /* to get rounded corners set the value half of the button heights */
  color: rgb(10, 102, 194);
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.1s;
}

#save_:hover{
  background-color: rgb(223, 240, 255);
  border-width: 2px
}
