.img1{
    width: 200px;
    border-radius: 10px;
}

.img2{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.img3{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 150px;
}